@media (max-width: 700px) {
    #dificult{
        min-width: 50% !important;
    }
    #dificult button{
        padding: 0 1rem !important;
    }
    #contenedorColores{
        width: 80% !important;
    }
    .colores{
        height: 5rem !important;
        width: 5rem !important;
    }
    footer{
        font-size: small !important;
        text-align: center !important;
        padding: 2rem 0 !important;
    }
    #intentos{
        font-size: 10px;
    }
}
  

body{
    margin: 0;
    padding: 0;
    background-color: black;
}
header{
    background-color: SlateBlue;
    display: gird;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 0 0 0;
}
main{
    
    display: flex;
    justify-content: center;
    
}
#contenedorColores{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin-top: 10%;
    justify-content: center;
}
.white{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}
.white button{
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    height: 40px;
    width: max-content;
    padding: 0 3em;
}
.white p{
    font-weight: 800;
    color:darkred;
}
.colores{
    height: 8rem;
    width: 8rem;
    margin: 10px auto;
    border-radius: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2rem;
}